.home
  .row
    .large-12.large-centered.columns
      .jumbotron-bg
        .text-center
          %h1.jumbotron
            Anabolizmus
          %h2.jumbotron-sub
            Több mint edzésnapló.
          .row
            .margin-top
              .small-4.columns
                = image_tag("Notepad-256.png", class: "img-notepad")
                .row
                  .small-8.small-centered.columns
                    %h5.text-white
                      Kövesd nyomon átalakulásod.
              .small-4.columns
                = image_tag("social2.png", class: "img-notepad")
                .row
                  .small-8.small-centered.columns
                    %h5.text-white
                      Nézd meg mások hogy edzenek.
              .small-4.columns
                = image_tag("mobile.png", class: "img-mobile")
                .row
                  .small-8.small-centered.columns
                    %h5.text-white
                      Vidd magaddal bárhova.
  


/.row-fluid
/  .span12
/    .focim.pagination-centered
/      Anabolizmus
/    %h1.pagination-centered.muted
/      Több mint edzésnapló.
/.row-fluid.branding
/  .span3.offset3
/    = image_tag("Notepad-256.png", class: "img-notepad")
/    %h5.muted.pagination-centered
/      Kövesd nyomon az átalakulásod
/  .span3
/    = image_tag("social.png", class: "img-social")
/    %h5.muted.pagination-centered
/      Lásd mások hogy edzenek.
