.row-fluid
  .span12
    .focim.pagination-centered
      Anabolizmus
    %h1.pagination-centered.muted
      Több mint edzésnapló.
.row-fluid.branding
  .span3.offset3
    = image_tag("Notepad-256.png", class: "img-notepad")
    %h5.muted.pagination-centered
      Kövesd nyomon az átalakulásod
  .span3
    = image_tag("social.png", class: "img-social")
    %h5.muted.pagination-centered
      Lépj kapcsolatba másokkal
