#naptar
  = calendar do |date|
    - if @workouts_by_date[date]
      = date.day
      %ul.unstyled.ul-workout
        - @workouts_by_date[date].each do |workout|
          %li{ title: workout.name }
            = link_to profile_workout_path(@profile, workout), remote: true, id: "workout-link" do
              - if workout.color == "fehér"
                .circle-white
              - elsif workout.color == "kék"
                .circle-blue
              - elsif workout.color == "zöld"
                .circle-green
              - elsif workout.color == "sárga"
                .circle-yellow
              - elsif workout.color == "piros"
                .circle-red
              - elsif workout.color == "fekete"
                .circle-black
              - else
                .circle

    - else
      = date.day