#naptar
  = calendar do |date|
    - if @workouts_by_date[date]
      = date.day
      %ul.no-bullet
        - @workouts_by_date[date].each do |workout|
          %li.left{ title: workout.name }
            = link_to profile_workout_path(@profile, workout), remote: true, id: "workout-link" do
              - if workout.color == "fehér"
                .label.round.secondary
                  %i.general.foundicon-checkmark    
              - elsif workout.color == "kék"
                .label.round
                  %i.general.foundicon-checkmark          
              - elsif workout.color == "zöld"            
              - elsif workout.color == "sárga"            
              - elsif workout.color == "piros"          
              - elsif workout.color == "fekete"            
              - else
                .label.round
                  %i.general.foundicon-checkmark  

    - else
      = date.day