.tabbable
  / Only required for left/right tabs
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#tab1"} Section 1
    %li
      %a{"data-toggle" => "tab", :href => "#tab2"} Section 2
  .tab-content
    #tab1.tab-pane.active
      
    #tab2.tab-pane
      = high_chart("chart_ts", @tzs)