- if @profile && @no_nav == nil
  .row-fluid
    .span12
      .profile-nav
        .row-fluid
          .span3
            %h2.pull-left
              = link_to @profile.user_name , @profile if @profile.user_name
            .pull-right