- @user ||= current_user
- @profile = @user.profile
.row-fluid
  .span12.bottom-line
    %h2
      = link_to "/" + @profile.user_name , @profile if @profile.user_name
      .pull-right
        - if own_profile?(@profile)
          = link_to "méréseim", sizes_path, class: "btn"
          = link_to "új mérés", new_size_path, class: "btn btn-primary"
          = link_to edit_profile_path(current_user.profile) do
            .btn{title: "Profilod beállításai"}
              %i.icon-wrench

