@import "bootstrap";
@import "bootstrap-responsive";
@import 'bootstrap-datetimepicker';

body {
	background-color: #fff;
}

/* Szovegkijeloles */
    ::selection {
    background:#00C5FF;
    color:#555;
    }

    ::-moz-selection {
    background:#00C5FF;
    color:#555;
    }

    ::-webkit-selection {
    background:#00C5FF;
    color:#555;
    }
/*-----------------*/


#main {
	padding-top: 60px;
	color: #111;
}

.bottom-line {
	border-bottom: 1px solid  #00a7ca;
}

.bottom-line-grey {
	border-bottom: 1px solid  #e5e5e5;
}


.grey {
	background-color: #fcfcfc;
	border-radius: 6px;
}

.padding-top {
	padding-top: 40px;
}

.profile-img {
    margin: 17px 5px 5px 0px;
}

.padding5 {
	padding: 5px;
}

.navbar-inner {
	background: none;
	background-color: #F1F1F1;
	border-bottom: 1px solid #E8E8E8;
	box-shadow: none;
	-moz-box-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}

.green-box {
	background-color: green;
	color:red;
}

.red-box {
	background-color: red;
	color:green;
}

.minimize {
	max-height: 100px;
}

.description {
	min-height: 170px;
}

.size-view {
	border-top: 2px solid #ddd;
	background-color: #eee;
  width: 100%;
	strong {
	color: #444;
    }
}

table.dataTable tr.odd {
    background-color: #eee;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #ddd;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #eee;
}
/*---------- Calendar----------*/

#naptar {
  width:100%;
}

#naptar .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #999;
  }

  th {
    background: #DDD;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
  }

  td {
    background: #FFF;
    color: #777;
    height: 26px;
    max-height: 26px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #E0F8F7; }
}

#naptar #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#naptar ul {
  font-size: 11px;
  padding-left: 0px;

}

/*---------- End----------*/

#workout-form {
    background-color: #FDFDFD;
    border: 3px solid #F0F0F0;
    border-radius: 6px 6px 6px 6px;
    display: none;
    margin: 10px;
}

#size-form {
    background-color: #FDFDFD;
    border: 3px solid #F0F0F0;
    border-radius: 6px 6px 6px 6px;
    display: none;
    margin: 10px;
}

#login-container {
  position: relative;
}

#login-box {
    background-color: #e5e5e5;
    display: none;
    padding: 8px 6px 0 6px;
    position: absolute;
    right: 0;
    top: 0;
    form {
      margin-bottom: 5px;
    }
}

#login-close-wrapper {
  position: relative;
}

#login-close {
  position: absolute;
  bottom: -25px;
  right: 0;
  background-color: #fff;
  border-radius: 6px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #e5e5e5;
    box-shadow: none;
    color: #555555;
    text-decoration: none;
}

.ajaxify_loader {
  min-height: 100px;
  min-width: 100px;
  background-color: #000;
}