@import "bootstrap";
@import 'bootstrap-datetimepicker';


@mixin standard {
      background-color: #fdfdfd;
      border: 1px solid #E8E8E8;
      padding: 6px;
}

.standard {
  @include standard;
}

body {
	background-color: #fff;
}

/* Szovegkijeloles */
    ::selection {
    background:#0096ff;
    color:#ddd;
    }

    ::-moz-selection {
    background:#0096ff;
    color:#ddd;
    }

    ::-webkit-selection {
    background:#0096ff;
    color:#ddd;
    }
/*-----------------*/


#main {
	padding-top: 60px;
  padding-bottom: 10px;
	color: #111;
}

.profile-nav {
	border-bottom: 3px solid  #0096ff;
  h3 {
    margin-bottom: 0;
  }
}

.grey {
	background-color: #fcfcfc;
	border-radius: 6px;
}

.padding-top {
	padding-top: 40px;
}

.profile-img {
    position: absolute;
    left: 10px;
    bottom: -15px;
    z-index: 5;
}

.padding-left5 {
	padding-left: 5px;
}

.navbar-inner {
	background: none;
	background-color: #F1F1F1;
	border-bottom: 1px solid #E8E8E8;
	box-shadow: none;
	-moz-box-shadow: none;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    box-shadow: none;
}

.green-box {
	background-color: green;
	color:red;
}

.red-box {
	background-color: red;
	color:green;
}

.minimize {
	max-height: 100px;
}

.description {
	height: 200px;
  overflow: auto;
}

.size-view {
	border: 1px solid #EEEEEE;
	background-color: #fdfdfd;
  border-radius: 4px;
  width: 100%;
	strong {
	color: #444;
    }
  .table {
    margin-bottom: 5px;
  }
}

p.changed {
  margin: 0;
}

table.dataTable tr.odd {
    background-color: #eee;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: #ddd;
}

table.dataTable tr.even td.sorting_1 {
    background-color: #eee;
}
/*---------- Calendar----------*/

#naptar {
  width:100%;
}

#naptar .calendar {
  border-collapse: collapse;
  width: 100%;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 6px;
    border: 1px solid #e5e5e5;
  }

  th {
    background: #fff;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
    border:0;
  }

  td {
    background: #fcfcfc;
    color: #777;
    height: 26px;
    max-height: 26px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { 
    background-color: #E0F8F7;
  }
}


#naptar #month {
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
  font-size: 22px;
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#naptar ul {
  font-size: 11px;
  padding-left: 0px;

}

/*------Calendar End----------*/

#workout-form {
    @include standard;
    display: none;
    margin: 10px;
}

#size-form {
    background-color: #FDFDFD;
    border: 3px solid #F0F0F0;
    border-radius: 6px 6px 6px 6px;
    display: none;
    margin: 10px;
}

#login-container {
  position: relative;
}

#login-box {
    background-color: #e5e5e5;
    display: none;
    padding: 0px 6px 5px 6px;
    position: absolute;
    right: 0;
    top: 0;
    form {
      margin-bottom: 5px;
    }
}

#facebook-login {
  padding-bottom: 5px;
}

#login-close-wrapper {
  position: relative;
}

#login-close {
  position: absolute;
  bottom: -25px;
  right: 0;
  background-color: #fff;
  border-radius: 6px;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #e5e5e5;
    box-shadow: none;
    color: #555555;
    text-decoration: none;
}

.ajaxify_loader {
  min-height: 100px;
  min-width: 100px;
  background-color: #000;
}

#showme {
  position: relative;
  height: 100%;
}

#showme-edit {
  position: absolute;
  bottom: -25px;
  right: 0;
}

.workout-wrapper {
    @include standard;
    min-height: 300px;
}

.well {
    @include standard;
    box-shadow: none;
}

.muted {
    color: #787878;
}


* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}

#footer {
    /*border-top: 4px solid #eee;*/
    /*background-color: #ddd;*/
    background-color: #F1F1F1;
    border-top: 1px solid #E8E8E8;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    a {
      color: #787878;
    }
}

#meta {
  @include standard;
}


#admin-nav {
   position: fixed;
   top: 42px;

}

.row-fluid .cover-image {
  background-color: #eee;
  min-height: 200px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.cover-image-link {
  margin: 5px 5px 0 0;
  opacity: .4;

  &:hover {
    opacity: .95;
  }
}

#profile {
  background-color: #fff;
}

.profile-body {
  margin-top: 20px;
}

.ul-workout {
  display: inline-table;
}

.profile-nav2 {
  margin-bottom: 0;
  padding-left: 240px;
  background: #F1F1F1;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  position: relative;
  top: -1px;
  a {
    color: #666;
  }
}

.top-marker {

}

.standard-header {
  background-color: #fafafa;
  border-bottom: 0;
  min-height: 28px;
  line-height: 28px;
  padding-bottom: 4px;
}

.navbar .brand {
  font-size: 27px;
}

.focim {
  font-family: Helvetica;
  color: #0096ff;
  font-weight: 500;
  font-size: 100px;
  margin-top: 100px;
  line-height: 1;
}


.circle {
  height: 13px;
  width: 13px;
  border: 2px solid #234e5e;
  display: inline-block;
  /* In this case we use half of the
   width and height as radius. */

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}

.circle-white {
    @extend .circle;
    background-color: #fff;
}

.circle-red {
    @extend .circle;
    background-color: #cf0101;
}

.circle-blue {
    @extend .circle;
    background-color: #0096ff;
}

.circle-yellow {
    @extend .circle;
    background-color: #ffde00;
}

.circle-green {
    @extend .circle;
    background-color: #01cf45;
}

.circle-black {
    @extend .circle;
    background-color: #111;
}

.pictures {
  padding-left: 14px;
}

.photo-thumb {
  display: inline;
  margin-top: 4px;
}

.carousel-photo {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.carousel-inner {
  background-color: #151515;
}

.nav-tabs > li > a {
    border-radius: 0;
}

.modal-body {
  max-height: 510px;
}

.carousel-caption {
}

.photo-data {
  position: absolute;
  right: 20px;
  bottom: 12px;
  color: #fff;
}

.photo-date {
  position: absolute;
  right: 60px;
  bottom: -1px;
}

.registration {
  padding-left: 30px;
}

.personal {
  color: #555;
}

.branding {
  margin-top: 120px;
  height: 170px;
}

.img-notepad {
  height: 130px;
  margin: 0 auto;
  display: block;
}

.img-social {
  height: 130px;
  margin: 0 auto;
  display: block;
}

.message-thumb {
  height: 50px;
}

.msg-body-short {
  position: relative;
  top: -6px;
}

.msg-body {
  position: relative;
  top: -7px;
  left: -35px;
}

.hover-gray {
  &:hover {
    background-color: #eee;
  }
}