.row-fluid
  .span3
    %br/
    %p.muted
      Anabolizmus.hu minden jog fenntartva.
  .span3.offset6
    %br/
    %ul.unstyled
      %li
        = link_to "Adatvédelmi nyilatkozat", "#"
      %li
        = link_to "Felhasználási feltételek", "#"